header {
    background-color: #707070;
    color: #FFFFFF;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica Neue', sans-serif;
    background-image: linear-gradient( -177deg, #707070 80%, #ffffff 0%);
}
p {
    text-align: center;
    font-size: 20px;
}
h2 {
    padding-bottom: 5%;
    text-align: center;
    font-size: 40px;
}
.lastTitle {
    margin-bottom: 5%;
}